.card-conteiner{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.sort-conteiner{
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.sort-conteiner-list{
    flex-direction: column;
    
}
.filter__brand{
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 5px;
    height: 300px;
    overflow-y: auto;
    border: 1px solid teal;
    border-radius: 5px;
    &__label{
        display: flex;
        justify-content: space-between;
    }
}