@keyframes hide {
    0%{
        height: 0px;
    }
    100%{
        height: 500px;
    }
}
.modal{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom:0;
    background-color: rgba(255, 68, 0, 0.568);
    display: flex;
    justify-content: center;
    align-items: center;
    &__main{
        animation: hide 0.5s ease-in;
        height: 600px;
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 20px;
        border: 1px solid #F9804B;
        background-color: #2a2a2a;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        &__block{
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
        }
        &__block-mini{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__input{
            width: 80%;
            padding: 5px 15px;
            border-radius: 7px;
            font-weight: bold;
            text-align: center;
            &:hover{
                box-shadow: 0 0 6px 7px #F9804B;
            }
        }
        &__input-mini{
            width: 120px;
            padding: 5px 15px;
            border-radius: 7px;
            margin-left: 5px;
            font-weight: bold;
            text-align: center;
            &:hover{
                box-shadow: 0 0 6px 7px #F9804B;
            }
        }
        &__close-btn{
            position: absolute;
            background-color: red;
            padding: 5px;
            right: 5%;
            top: 5%;
            border-radius: 5px;
            transition: 0.4s;
            &:hover{
                box-shadow: 0 0 6px 7px red;
                transform: translateY(-3px);
            }
        }
        &__confirm-btn{
            padding: 5px 25px;
            border-radius: 10px;
            background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
            transition: 0.4s;
            &:hover{
                transform: translateY(-3px) scale(1.03);
            }
            &:active{
                background: linear-gradient(113.96deg, #1baf4e 1.49%, #00fa57 101.44%);
            }
        }
        &__error{
            padding: 5px;
            padding-left: 5px;
            color: red;
        }
        &__card{
            width: 70%;
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 10px;
            border-radius: 10px;
            border:1px solid #F9804B;
            align-items: center;
        }
        &__block-bottom{
            display: flex; 
            gap: 10px;
        }
        &__image{
            width: 30px;
        }
        &__text{
            color: #F9804B;
            font-size: 1.5em;
        }
        &__image {
            background: url(../../../assets/img/card_template.png) no-repeat center;
            background-size: contain;
            margin-bottom: 6px;
            width: 120px;
            height: 76px;
            &_visa {
                background: url(../../../assets/img/Visa.png) no-repeat center;
                background-size: contain;
            }
            &_mc {
                background: url(../../../assets/img/Mastercard.png) no-repeat center;
                background-size: contain;
            }
            &_express {
                background: url(../../../assets/img/american_express.jpg) no-repeat center;
                background-size: contain;
            }

        }
    }
}

.modal__main__succes{
    font-weight: bold;
    font-size: 30px;
    color: #F9804B;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #F9804B;
}