@keyframes hide {
    0%{
        height: 0px;
    }
    100%{
        height: 500px;
    }
}
.modal{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom:0;
    background-color: rgba(29, 21, 19, 0.475);
    display: flex;
    justify-content: center;
    align-items: center;
}
.payment{
    overflow-y: auto;
    max-height: 90vh;
    padding: 32px 0;
    animation: hide 0.5s ease-in;
    min-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #29839193;
    background-color: #1d1b1b;
    align-items: center;
    position: relative;
    &_succses {
        width: max-content;
        height: max-content;
    }
    &__block{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        @media screen and (max-width: 520px) {
            flex-direction: column;
        }
    }
    &__block-mini{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__input{
        width: 80%;
        padding: 5px 15px;
        border-radius: 7px;
        font-weight: bold;
        text-align: center;
        &:hover{
            box-shadow: 0 0 2px 1px #cbe0ff;
        }
        @media screen and (max-width: 520px) {
            width: 100%;
        }
    }
    &__input-mini{
        width: 120px;
        padding: 5px 15px;
        border-radius: 7px;
        margin-left: 5px;
        font-weight: bold;
        text-align: center;
        &:hover{
            box-shadow: 0 0 2px 1px #cbe0ff;
        }
    }
    &__close-btn{
        position: absolute;
        background-color: rgb(176, 178, 213);
        padding: 5px;
        right: 5%;
        top: 5%;
        border-radius: 5px;
        transition: 0.4s;
        color: #f3f3f3;
        background-image: url(../../../assets/svg/close.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 30px;
        height: 30px;
        &:hover{
            box-shadow: 0 0 2px 1px rgba(218, 234, 255, 0.541);
            transform: translateY(-1px);
        }
        @media screen and (max-width: 740px) {
            position: fixed;
            right: 9%;
            top: 9%;
        }
    }
    &__confirm-btn{
        padding: 5px 25px;
        border-radius: 10px;
        background: linear-gradient(113.96deg, #4571bd 1.49%, #110d8a 101.44%);
        transition: 0.4s;
        color: #f3f3f3;
        &:hover{
            transform: translateY(-1px) scale(1.03);
        }
        &:active{
            background: linear-gradient(113.96deg, #628ed8 1.49%, #2a25c8 101.44%);
        }
    }
    &__error{
        padding: 5px;
        padding-left: 5px;
        color: rgba(245, 81, 81, 0.857);
    }
    &__card{
        width: 70%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 10px;
        border-radius: 10px;
        border: 1px solid #deefffa1;
        align-items: center;
        @media screen and (max-width: 740px) {
            width: 90%;
        }
    }
    &__block-bottom{
        display: flex; 
        gap: 10px;
        @media screen and (max-width: 520px) {
            flex-direction: column;
        }
    }
    &__image{
        width: 30px;
    }
    &__text{
        color: #d8f7ff;
        font-size: 1.5em;
    }
    &__image {
        background: url(../../../assets/img/card_template.png) no-repeat center;
        background-size: contain;
        margin-bottom: 6px;
        width: 120px;
        height: 76px;
        &_visa {
            background: url(../../../assets/img/Visa.png) no-repeat center;
            background-size: contain;
        }
        &_mc {
            background: url(../../../assets/img/Mastercard.png) no-repeat center;
            background-size: contain;
        }
        &_express {
            background: url(../../../assets/img/american_express.jpg) no-repeat center;
            background-size: contain;
        }

    }

    @media screen and (max-width: 740px) {
        min-width: 90vw;
        width: 90vw;
        border-radius: 25px;
    }
    @media screen and (max-width: 520px) {
        height: max-content;
        max-height: 90vh;
        border-radius: 16px;
    }
}

.payment__succes{
    font-weight: bold;
    font-size: 30px;
    color: #4b9cf9;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #4ba2f9;
}