.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2a2a2a;
    color: #1baf4e;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 0 -4px 8px 8px #1baf4ebf;
    
    h1{
        font-size: 20px;
    }

    &__logo-cont {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        transition: 0.4s;
        &:hover{
            transform: translateY(-4px);
            cursor: pointer;
        }
    }

    &__logo-img {
        background: url(../../../assets/favicon/icon.png) no-repeat center;
        background-size: contain;
        margin-left: 10px;
        width: 35px;
        height: 35px;
    }

    &__basket-cont {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        cursor: pointer;
        transition: 0.4s;
        &:hover{
            transform: translateY(-4px);
            cursor: pointer;
        }
    }

    &__basket-img {
        background: url(../../../assets/svg/shopping_cart.svg) no-repeat center;
        background-size: contain;
        margin-left: 10px;
        width: 35px;
        height: 35px;
    }
}