.card{
    width: 120px;
    height: 120px;
    padding-bottom: 5px;
    border: 2px solid #1baf4e;
    border-radius: 5px;
    overflow: hidden;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 2px 2px 4px 2px #1baf4e55;
}
.card-list-elem{
    width: 90%;
    height: 40px;
    background-size:30px;
    background-repeat: no-repeat;
    background-position: right;
    border: 2px solid #1baf4e;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        width: 50%;
        overflow: visible;
        text-align: center;
    }
}
.card__text{
    background-color:#1baf4f7a;
    padding: 5px 5px;
    height: 20px;
    overflow: hidden;
    width: 120px;
    border-radius: 5px;
}
.card__btns{
    width: 90px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin: 0 auto;
    &_item{
        padding: 5px;
        width: 50%;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        border-radius: 10px;
        transition: 0.3s;
        &:hover{
            transform: translateY(-3px) scale(1.03);
        }
    }
    &_item-checked{
        padding: 5px;
        width: 50%;
        background: linear-gradient(113.96deg, #1baf4e 1.49%, #00fa57 101.44%);
        border-radius: 10px;
        transition: 0.3s;
        &:hover{
            transform: translateY(-3px) scale(1.03);
        }
    }
}